.navbar {
  overflow: hidden;
  /* font-family: "roboto", "Helvetica", sans-serif; */
  background-color: rgb(39, 39, 39);
  position: relative;
  height: 50px;
  top: 0px;
  z-index: 100000;
  width: 100%;
  display: block;
  position: sticky;
  /* border-bottom: #000083 5px solid; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-bottom: 40px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px 40px 16px;
  text-decoration: none;
  font-size: 17pt;
  z-index: 100;
}

.navbar a:visited {
  color: #ffffff;
}

.navbar a:hover {
  color: #ffffff;
  background-color: #3e3e3e;
}

.navbar a:active {
  color: #000000;
}

.navbar .right {
  float: right;
}
