body {
  font-family: "Calibri", "calibri-custom", "Helvetica", sans-serif;

  overflow-x: hidden;
  /* overflow-y: scroll; */
  margin: 0;
  padding: 0;
}

#main {
  /* visibility: hidden;
  display: none; */
  line-break: auto;
  color: #f2f2f2;
  /* background-color: rgb(25, 25, 25); */
  background-color: rgb(17, 17, 17);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-bottom: 100px;
  /* position: fixed; */
}

#realbutton {
  font-size: 50pt;
  border-radius: 4px;
  background-color: #ffffff4a;
  border: 2px solid #767676;
  color: #f2f2f2;
  font-family: "Calibri", "calibri-custom", "Helvetica", sans-serif;
  width: 75%;
  height: 300px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 12.5%;
}

#realbutton:hover {
  background-color: #ffffff4a;
  border: 2px solid #ffffff;
  color: #ffffff;
}

#realbutton:active {
  background-color: #c4c4c44a;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.maintext {
  margin: 0 10% 40px 10%;
  font-size: 18pt;
  font-weight: 100;
}

.maintext h1 {
  font-size: 40pt;
  margin: 0px 0 20px 0;
}

.maintext h2,
hr,
p,
ol,
li {
  margin: 20px 0 20px 2%;
}

.maintext hr {
  /* width: 75%; */
  margin: 20px 0 20px 0;
}

.maintext img {
  max-width: 50%;
  /* width: 300px; Your preferred width */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.maintext ul {
  margin: 20px 10% 20px 2%;
}

.centered {
  margin: auto;
  width: 50%;
  text-align: center;
}

#applecrack {
  width: 600px;
}

a {
  color: rgb(0, 123, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(208, 0, 255);
}

a:hover {
  color: rgb(0, 123, 255);
  text-decoration: underline dashed 1px;
}

footer .green {
  color: #71ff71;
}

footer {
  bottom: 0;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  padding-top: 25px;
  font-size: 12pt;
  margin-bottom: -80px;
  font-weight: 100;
  color: #767676;
}

footer p {
  margin: 5px;
}

.iiie_citation ol {
  counter-reset: item;
  margin-left: -40px;
}

.iiie_citation li {
  display: block;
}

.iiie_citation li::before {
  content: "[" counter(item) "] ";
  counter-increment: item;
  display: inline-block;
}
